.map {
  background: #F00;
  height: 60%;
}

.sidebar {
  background: #0F0;
  height: 40%;
}

.lg .map,
.lg .sidebar {
  height: 100%;
}

.sidebar-widget {
  height: 100%;
  border: solid black;
}

.lg .sidebar-widget {
  height: 33.3%;
}

.score {
  background: #7F0;
}

#wrapper {
  min-height: 100%;
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0px;
  left: 0;
  display: inline-block;
}
/*  */
/* #main-wrapper { */
/*     height: 100%; */
/*     overflow-y: auto; */
/*     padding: 50px 0 0px 0; */
/* } */
/*  */
/* #main { */
/*     position: relative; */
/*     height: 100%; */
/*     overflow-y: auto; */
/*     padding: 0 15px; */
/* } */
/*  */
/* #sidebar-wrapper { */
/*     height: 100%; */
/*     padding: 50px 0 0px 0; */
/*     position: fixed; */
/*     border-right: 1px solid gray; */
/* } */
/*  */
/* #sidebar { */
/*     position: relative; */
/*     height: 100%; */
/*     overflow:hidden; */
/* } */
